{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "trailingComma": "all",
  "semi": false,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2
}
